# Compiled Object files
EscapeRoom/*.slo
EscapeRoom/*.lo
EscapeRoom/*.o
EscapeRoom/*.obj

# Precompiled Headers
EscapeRoom/*.gch
EscapeRoom/*.pch

# Compiled Dynamic libraries
EscapeRoom/*.so
EscapeRoom/*.dylib
EscapeRoom/*.dll

# Fortran module files
EscapeRoom/*.mod
EscapeRoom/*.smod

# Compiled Static libraries
EscapeRoom/*.lai
EscapeRoom/*.la
EscapeRoom/*.a
EscapeRoom/*.lib

# Executables
EscapeRoom/*.exe
EscapeRoom/*.out
EscapeRoom/*.app
